body{
  font-family: 'Varela Round', sans-serif;
}

h1,p{
    position: absolute;
    z-index: 100;
}

p{
  top: 60px;
}

#world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #ffffff;
}
