.drag_items{
	clear:both;
}


.drag_item{
  background:lightgray;
  border:1px;
  float:left;
  margin: 10px;
  padding: 5px;

}

.drop_item{
  width:150px;
  height:150px;
  background:lightblue;
  border:1px;
  float:left;
  margin: 5px;
  padding: 5px;

}
